body{
    margin-top: 0;
    background-color: #ffe4c4;
    padding: 0% 15% 0% 15%;

}

header{
    font-size:x-large;
    background-color: #fff;
    border-style: double;
    border-color: #b07938;
    border-width: 7px;
    border-radius: 50px;
    border-bottom: 0;
    padding: 5% 10%;
    margin: 10% 0% 0% 0%;
}

main{
    border-bottom: 50px;
    background-color: #fff;
    padding: 5% 10%;
    border-radius: 50px;
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
}

main section:nth-child(odd){
    display: flex;
    flex-direction: row-reverse
}


h2{
    font-size: 30px;
}

footer{
    color: #422103;
    text-align: right;
    font-size: 20px;
    padding: 50px 0px;
}

#footerflex{
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}

footer a{
    font-size: 20px;
    text-decoration: none;
    color: #422103;
}

/*

main section:nth-child(odd){
    display: flex;
    flex-wrap: wrap-reverse;
}

nav a{
    font-size: 24px;
    text-decoration: none;
    color: #fff;
}

#navflex{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

nav{
    background-color:#b07938;
    padding: 15px 50px 15px 10px;
    margin-top: 0;
}
*/