#navflex{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

nav{
    background-color: burlywood;
    padding: 20px 50px 0px 10px;
    margin: 8px 0px;
}

article{
    text-size-adjust: 20px;
}
body{
    background-color: bisque;
    
}
